name: Build RMSKIN Package

on:
  push:
    tags:
      - 'v*' # Triggers only when you push a tag like v1.0.3

permissions:
  contents: write # REQUIRED: This gives permission to create the release

jobs:
  build-n-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this Repo
        uses: actions/checkout@v4

      - name: Run Build action
        id: builder
        uses: 2bndy5/rmskin-action@v2.0.2

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          # This takes the file path output from the builder step
          files: ${{ steps.builder.outputs.arc_name }}
          generate_release_notes: true