name: Build RMSKIN Package

on:
  push:
    branches: [main]
    tags: '*'
  pull_request:
    branches: [main]

jobs:
  build-n-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this Repo
        uses: actions/checkout@v4

      - name: Run Build action
        id: builder
        uses: 2bndy5/rmskin-action@v2.0.2

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: gh release upload ${{ github.ref_name }} ${{ steps.builder.outputs.arc_name }}
