name: Build RMSKIN Package

on:
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0.3

permissions:
  contents: write # REQUIRED: Allows creating the release

jobs:
  build-n-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this Repo
        uses: actions/checkout@v4

      - name: Run Build action
        id: builder
        uses: 2bndy5/rmskin-action@v2.0.2
        with:
          # This forces the builder to use the Git Tag (e.g., v1.0.3) 
          # instead of what is inside RMSKIN.ini
          version: ${{ github.ref_name }}

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ steps.builder.outputs.arc_name }}
          generate_release_notes: true